*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes move{
    to{
        --rotate: 0deg;
        scale: 1;
        transform: rotate(0deg);
    }
    from{
        --rotate: 360deg;
        scale: 0.98;
        transform: rotate(0.3deg);
    }
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .card{
        max-width: 350px;
        height: ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding-inline: 10px;
        padding-bottom: 10px;
        border-radius: 15px;
        border: 0 solid rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 rgb(255, 0, 195);
        text-shadow: 0 0 0 white;
        background: linear-gradient(black) padding-box,conic-gradient(from var(--rotate),black,rgb(255, 0, 195),black) border-box;
        animation: move 6s infinite forwards alternate;
        transition: all 0.5s linear;
        animation-timing-function: linear;
        animation-play-state: paused;
        .top{
           width: 100%;
           height: 80%;
           border-radius: 15px;
           img{
            width: 100%;
            height: 100%;
            object-fit: contain;
           }
        }
        .bottom{
            width: 100%;
            h1{
                font-size: 1.8rem;
                color: white;
            }
            p{
                font-size: 1rem;
                color: white;
            }
        }
    }
    .card:hover{
        border-width: 7px;
        animation-play-state: running;
        box-shadow: 0 0 50px rgb(255, 0, 195);
        text-shadow: 0 0 10px rgb(255, 0, 195);
        h1{
            color: rgb(255, 0, 195);
        }
        p{
            color: rgb(255, 0, 195);
        }
    }

}