*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height: 100%;
   
}
main{
    width: 100%;
    height: 200%;
    background-color: rgb(10, 11, 24);
    cursor: none;
    
    #cursor{
        width: 70px;
        height: 70px;
        position: fixed;
        pointer-events: none;
        transform: translate(-50%,-50%);
    }
}